.idea/workspace.xml
venv
.vscode
venv/Lib/site-packages/easy-install.pth
venv/Lib/site-packages/setuptools-40.8.0-py3.8.egg
venv/Lib/site-packages/pip/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/__pycache__/__main__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/build_env.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/cache.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/configuration.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/exceptions.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/legacy_resolve.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/locations.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/pep425tags.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/pyproject.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/self_outdated_check.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/__pycache__/wheel_builder.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/autocompletion.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/base_command.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/cmdoptions.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/command_context.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/main_parser.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/main.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/parser.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/req_command.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/cli/__pycache__/status_codes.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/commands/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/commands/__pycache__/install.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/base.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/installed.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/sdist.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/wheel.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/index/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/index/__pycache__/collector.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/index/__pycache__/package_finder.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/candidate.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/format_control.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/index.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/link.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/scheme.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/search_scope.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/selection_prefs.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/target_python.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/models/__pycache__/wheel.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/network/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/network/__pycache__/auth.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/network/__pycache__/cache.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/network/__pycache__/download.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/network/__pycache__/session.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/network/__pycache__/utils.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/__pycache__/check.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/__pycache__/prepare.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/metadata_legacy.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/metadata.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/wheel_legacy.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/wheel.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/editable_legacy.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/legacy.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/wheel.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/constructors.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/req_file.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/req_install.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/req_set.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/req_tracker.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/req/__pycache__/req_uninstall.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/appdirs.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/compat.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/deprecation.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/distutils_args.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/encoding.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/filesystem.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/filetypes.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/glibc.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/hashes.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/inject_securetransport.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/logging.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/marker_files.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/misc.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/models.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/packaging.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/pkg_resources.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/setuptools_build.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/subprocess.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/temp_dir.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/typing.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/ui.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/unpacking.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/urls.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/virtualenv.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/utils/__pycache__/wheel.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/bazaar.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/git.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/mercurial.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/subversion.cpython-38.pyc
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/versioncontrol.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/__pycache__/appdirs.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/__pycache__/contextlib2.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/__pycache__/pyparsing.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/__pycache__/retrying.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/__pycache__/six.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/adapter.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/cache.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/controller.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/filewrapper.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/serialize.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/wrapper.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/file_cache.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/redis_cache.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/core.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/big5freq.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/big5prober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/chardistribution.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/charsetgroupprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/charsetprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/codingstatemachine.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/cp949prober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/enums.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/escprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/escsm.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/eucjpprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euckrfreq.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euckrprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euctwfreq.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euctwprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/gb2312freq.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/gb2312prober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/hebrewprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/jisfreq.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/jpcntx.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langbulgarianmodel.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langcyrillicmodel.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langgreekmodel.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langhebrewmodel.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langthaimodel.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langturkishmodel.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/latin1prober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/mbcharsetprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/mbcsgroupprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/mbcssm.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/sbcharsetprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/sbcsgroupprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/sjisprober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/universaldetector.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/utf8prober.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/version.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/ansi.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/ansitowin32.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/initialise.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/win32.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/winterm.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/resources.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/scripts.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/util.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/_ihatexml.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/_inputstream.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/_tokenizer.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/_utils.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/constants.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/html5parser.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/serializer.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/_base.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/datrie.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/py.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/base.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/etree.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/core.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/idnadata.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/intranges.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/package_data.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/_version.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/exceptions.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/fallback.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/__about__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/_compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/_structures.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/_typing.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/markers.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/requirements.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/specifiers.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/tags.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/utils.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/version.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/wrappers.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/py31compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/bar.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/spinner.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/core.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/parser.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/test.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/utils.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/writer.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/__version__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/_internal_utils.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/adapters.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/api.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/auth.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/certs.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/compat.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/cookies.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/exceptions.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/hooks.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/models.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/packages.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/sessions.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/status_codes.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/structures.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/utils.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/_collections.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/connection.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/connectionpool.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/exceptions.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/fields.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/filepost.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/poolmanager.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/request.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/response.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/_appengine_environ.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/socks.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/six.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/connection.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/queue.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/request.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/response.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/retry.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/ssl_.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/timeout.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/url.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/wait.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/__init__.cpython-38.pyc
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/labels.cpython-38.pyc
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/easy_install-3.8-script.py
venv/Scripts/easy_install-3.8.exe
venv/Scripts/easy_install-script.py
venv/Scripts/easy_install.exe
